</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!-- 절대 경로(/)로 시작하여도 스프링부트에서 정적 파일들은 /src/main/resources/static URL로 바로 할당 됨. -->
</html>